<?xml version="1.0" encoding="euc-kr"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Csp3</servlet-name>
		<servlet-class>kr.ac.shinhancsp.Csp3Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CurrentTime</servlet-name>
		<servlet-class>kr.ac.shinhancsp.CurrentTime</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Csp3</servlet-name>
		<url-pattern>/csp3</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>CurrentTime</servlet-name>
		<url-pattern>/CurrentTime</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
